/*** MOBILE ***/

/*   ESTILOS GENERALES   */

* {
    font-family: 'Raleway', sans-serif;
}

html {
    background-color: rgb(3, 58, 58);
}

aside {
    display: none;
    background-image: linear-gradient(to right,rgb(3, 58, 58) , teal);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: rgb(245, 231, 234);
    text-decoration: none;
}

a:hover {
    color:rgb(4, 78, 78);
    text-shadow: 1px 1px 2px pink;
}

nav {
    font-size: 13px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-shadow: 1px 1px 2px black;
}

article {
    padding: 20px;
    line-height: 2rem;
    display: flex;
    align-items: center;
}

footer {
    display: flex;
    font-size: 9px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-image: linear-gradient(to right,rgb(3, 58, 58) , teal);
}

footer > div > a > img {
    height: 1rem;
}

/*   ESTILOS POR CLASE   */

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 50px auto 30px;
    gap: 10px;
}

.grid-container > * {
    background-color: teal;
    border: 1px solid teal;
    border-radius: 5px;
    text-align: center;
    color: rgb(245, 231, 234);
}

.imagen-aboutme {
    height: 15rem;
    border-radius: 5px;
    margin: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-gallery {
    height: 8rem;
    margin: 10px;
    border-radius: 5px;
    transition: transform 1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.8;
}

.img-gallery:hover {
    opacity: 1;
}


.hidden {
    display: none;
}

/*   ESTILOS POR ID   */

#logo {
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title {
    margin-left: 10px;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
}


#img-index-mobile {
    height: 8rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#caja-gallery {
    display: flex;
    justify-content: space-around;
    
}

/*** IPAD ***/

@media only screen and (min-width: 768px){
    
    aside {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .grid-container {
        grid-template-columns: auto auto;
        grid-template-rows: auto 50px auto auto 30px;
    }

    #img-index-mobile {
        display: none;
    }

    #img-index-side {
        height: 20rem;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #img-index-side2 {
        height: 20rem;
        border-radius: 5px;
        margin: 10px;
    }

    header, nav, footer {
        grid-column: 1 / 3;
    }
    
    #title {
        font-size: 2rem;
    }

    #logo {
        height: 7rem;
        margin: 10px;
    }

    nav {
        font-size: 17px;
    }

    footer {
        font-size: 12px;
    }

    footer > div > a > img {
        height: 25px;
    }

}

/*** DESKSTOP ***/

@media only screen and (min-width: 1200px){
    
    aside {
        display: flex;
        align-items: center;
    }

    .grid-container {
        grid-template-columns: auto auto;
        grid-template-rows: auto 50px auto auto 30px;
    }

    #img-index-mobile {
        display: none;
    }

    #img-index-side {
        height: 25rem;
        border-radius: 5px;
        margin: 10px;
    }

    #img-index-side2 {
        height: 25rem;
        border-radius: 5px;
        margin: 10px;
    }

    .imagen-aboutme {
        height: 25rem;
        margin: 2rem;
    }

    .img-gallery {
        height: 15rem;
        margin: 10px;
        border-radius: 5px;
    }

    header, nav, footer {
        grid-column: 1 / 3;
    }
    
    #title {
        font-size: 3rem;
    }

    #logo {
        height: 12rem;
        margin: 20px;
    }

    nav {
        font-size: 20px;
    }

    footer {
        font-size: 14px;
    }

    footer > div > a > img {
        height: 40px;
    }

    article {
        font-size: 25px;
        line-height: 40px;
        padding: 70px;
    }

}